##NOtebook

numpy==1.19.5
pandas==0.25.3
matplotlib==3.1.1
seaborn==0.9.0
scikit-learn==1.0.2
statsmodels==0.10.1
pasty==0.5.1
pickleshare==0.7.5
joblib==0.13.2
beautifulsoup4==4.9.3
lightgbm==3.3.5

##Flask Framework

googlesearch_python==1.0.1
whois==0.9.13
#gunicorn==20.1.0

Flask==1.1.1
Jinja2==2.10.3
Markdown==3.4.1
MarkupSafe==2.0.1
Werkzeug==0.16.0
itsdangerous==1.1.0
glob2==0.7
db-sqlite3==0.0.1
googlesearch-python==1.0.1
whois==0.9.13
urllib3==1.26.14

####If Jupyter NOtebook is not working then install this packages

#pip install --upgrade jupyterhub
#pip install --upgrade --user nbconvert

